/* img {
    height: 400px
} */
body {
    background-image: url("board.jpg");
    background-size: cover;
    height: auto;
    width: auto;
    margin:0;
    padding:0;
}

.header {
    height:120px;
    display: flex;
    justify-content: center;
    font-size: 30px;
    background: url("background2.jpg");
    background-size: cover;
}

a:visited{
    color:peachpuff;
}

#team{
    position: absolute;
    left:50px;
    top: 40px;
    font-size: 30px;

}

#about{
    position: absolute;
    right:30px;
    top: 30px;
}

.container1{
    margin-top: 20px;
    display:flex;
    justify-content: center;
    height: 100px;
}

.container1 div{
    border:2px #000000 solid;
    padding:10px;
    height: 100px;
    width: 100px;
}

.box1{
    border-radius: 10%;
    background:#f54d4d;
    width:100px;
}
.box2{
    border-radius: 10%;
    background:#ffa500;
}
.box3{
    border-radius: 10%;
    background:#efec57;
}
.box4{
    border-radius: 10%;
    background: #62f54d;
}
.box5{
    border-radius: 10%;
    background:#54cbfb;
}

video {
    display:block;
    margin-left:auto;
    margin-right:auto;
    margin-top: 30px;
    width:50%;
    height: 50%;
}
