body{
    background: black
}

.rover{
    background: black;
}

div.block{
    height: 600px;
    background-image: url('arrow.png');
    background-size:contain;
    background-repeat: no-repeat;
    width:50%;
    margin:auto;
    padding: 25px;
}

div.block1{
    background: black;
    border: 3p black;
}
div.block1{
    background: url('expec.png');
    background-size: contain;
    background-repeat: no-repeat;
    border: 3p black;
}

div.block2{
    background: url('real.png');
    background-size: contain;
    background-repeat: no-repeat;
    border: 3p black;
}
div.block3{
    background: url('cry.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    border: 3p black;
}
